.button {
    width: 100px;
    height: 100px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 100px;
    z-index: 10;
    animation: opacity 1s linear infinite;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    20%, 50%, 80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.card:hover .card__title, 
.card:hover .card__price {
    color: tomato;
}
.card:hover .card__link {
    color: white;
} 
.card:hover{
    background-color: black;
}

.card *,
.card {
    transition: all .3s linear !important;
}



















.img {
    width: 100%;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}

.header__el_img {
    width: 70px;
    flex-shrink: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

@media all and (max-width: 520px) {
    .header__el_img {
        order: 1;
    }
    .header__el_nav {
        order: 3;
    }
    .header__el_phone {
        order:2;
    }
    .nav {
        width: 40px;
        height: 40px;
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png);
        background-size: contain;
        background-position: center ;
        background-repeat:no-repeat;
        transition: width, height .5s linear;
    }
    .nav__el {
        display: none;
    }
    .nav_active .nav__el,
    .nav:hover .nav__el
    {
        display: block;
    }
    .nav.nav_active,
    .nav:hover {
        background-image: none;
        background-color:red;
        display: flex;
        flex-direction: column;
        width: 100px;
        height: 100px;
    }
}
.body-wrap {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: inline-block;
    width: calc(100% / 3 - 20px);
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    font-family: sans-serif;
}
.card_long {
    width: 100%;
    margin: 10px;
}

.card__img {
    position: relative;
    width: 100%;
    padding-top: 160%;
    background-image: url("../image/godzilla.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    overflow: hidden;
}
.card__img-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(0,0,0, .7);
    color: white;
    display: flex;
    align-items: flex-end;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity, transform .5s linear;
}
.card__img:hover .card__img-text {
    opacity: 1;
    transform: translateX(0);
}
.card__img_long {
    width: 100%;
    padding-top: 30%;
    background-image: url("https://hsto.org/webt/_b/rz/7t/_brz7tgbyxdfzgjkdt_cyni_l2k.jpeg");
    background-position: center 20%;
}
.card__text-wrap {
    display:flex;
    justify-content: space-between;
    margin: 20px 0;
}
.card__link {
    display: block;
    color: seagreen;
    text-align: right;
}
@media all and (max-width: 700px) {
    .card {
        width: calc(100% / 2 - 20px);
    }
    .main {
        align-items: flex-start;
    }
    .card__img {
        padding-top: 60%;
    }
}
@media all and (max-width: 500px) {
    .card {
        width: 100%;
        max-width: 300px;
    }
    .main {
        justify-content: center;
    }
}
/* .card__tag-img {
    display: block;
    width: 100%;
    height: auto;
} */










.header2 {
    width: 100%;
    max-width: 900px;
    margin: 40px auto;
    background-color:#ee1e52;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    padding: 0 20px;
    box-sizing: border-box;
}

.header2__el {
    color: white;
}
.header2__el_bordered {
    border-bottom: 1px solid white;
}

.btn {
    border: 1px solid white;
    padding: 5px;
}

.header2__wrap{
    display: flex;
    justify-content: space-between;
    width: 280px;
}

.header2__wrap_small{
    width: 180px;
}

.header2__wrap_logo {
    width: 70px;
    flex-shrink: 0;
}
@media all and (max-width: 600px) {
    .btn {
        display: none;
    }
    .header2__wrap_btns:before {
        content: "Кнопки";
        border: 1px solid white;
        padding: 5px;
        color: white;
    }
    .header2__wrap_btns {
        width: auto;
    }
    .header2__wrap_small {
        width: auto;
        flex-direction: column;
        align-items: flex-start;
    }
    .header2__el_bordered {
        margin: 5px 0;
    }
}
